  <div>  <!-- Social media sharing buttons -->
  {% if article.share_post and article.status != 'draft' %}
  <hr />
    <ul class="list-inline">
      <li class="list-inline-item text-muted" title="Share"><i class="fas fa-share-alt" title="Share this post"></i> Share this post:</li>
      <li class="list-inline-item"><a class="fab fa-mastodon" href="{{article.share_post['mastodon']}}" target="_blank" title="Share on mastodon"></a></li>
      <li class="list-inline-item"><a class="fab fa-twitter" href="{{article.share_post['twitter']}}" target="_blank" title="Share on Twitter"></a></li>
      <li class="list-inline-item"><a class="fab fa-facebook" href="{{article.share_post['facebook']}}" target="_blank" title="Share on Facebook"></a></li>
      <li class="list-inline-item"><a class="fab fa-reddit" href="{{article.share_post['reddit']}}" target="_blank" title="Share on Reddit"></a></li>
      <li class="list-inline-item"><a class="fab fa-linkedin" href="{{article.share_post['linkedin']}}" target="_blank" title="Share via LinkedIn<"></a></li>
      <li class="list-inline-item"><a class="fas fa-mail-bulk" href="{{article.share_post['email']}}" target="_blank" title="Share via E-mail"></a></li>
    </ul>
  <hr />
  {% endif %}
  </div> <!-- /Social media sharing buttons -->
